*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

.container{
    width: 100%;
    height: 100vh; 
    position: relative;
}

.navbar{
    display: flex; /* place each element side bt side */
    width: 85%;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center; /* vertically center aakan  */
}

#logo{
    width: 130px;
}

.listitem{
    display: inline-block; /* place each element side by side */
    list-style: none; /* remove list styles(dot) */
    margin: 10px 20px;
}

.link{
    color: black;
    text-decoration: none; /* to remove underline */
    font-weight: bold;
}

.link:hover{
    color: orange;
}

.title{
    margin-left: 8%;
    margin-top: 13%;
}

.title h1{
    font-size: 50px;
    margin-bottom: 25px;
}

#lastname{
    color: orange;
}

#download{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 30px;
    display: inline-block;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.imagegroup{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}

.images:hover #girl{
    left: 40%;
}

.images:hover #shape{
    bottom: 50px;
}

#about{
    margin: 18% 8% 0 8%;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 35px;
}

.heading span{
    font-size: 25px;
    color: green;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr); /* 1fr = 225px */
    gap: 30px;
}

.about-image img{
    width: 80%;
}

.about-details {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-details p{
    text-align: justify;
}

/* .information{
    margin-top: 30px;
} */

.info-box{
    margin-bottom: 20px;
}

.info-box span{
    margin-left: 15px;
}

#skill{
    margin: 8% 8% 0% 8%;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;  /* 1 rem=60px */
    margin-top: 20px;
    
}

.skill-img img{
    width: 90%; 
}

.bar-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px ;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
}

.bar-container span{
    font-size: 20px;
    font-weight: 600;
}
.bar-box{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.html-bar{
    background-color: orange;
    width: 95%;
}

.css-bar{
    background-color: orange;
    width: 88%;
}

.js-bar{
    background-color: orange;
    width: 89%;
}

.react-bar{
    background-color: orange;
    width: 85%;
}

.icon-set{
    display: flex;
    align-items: center; /* vertically center */
    justify-content: center; /* horizontally center */
    margin-top: 3%;
}

.icon, .up-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.icon i{
    font-size: 30px;
    color: black;
}

.icon:hover{
    background-color: orange;
    background-image: linear-gradient(to top left, rgb(169, 127, 36), yellow);
}

.icon:hover i{
    color: white;
    animation: shake 0.75s;
}

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15 deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}

footer{
    margin: 50px 0px;
}

footer p{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.up-arrow{
    /* background-image: linear-gradient(to top left, rgb(169, 127, 36), yellow); */
    float: right;
    margin: 30px 20px 30px 0px;
}

.up-arrow:hover i{
    color: white;
}

.up-arrow:hover{
    background-image: linear-gradient(to top left, rgb(169, 127, 36), yellow);
}